@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

body {
    background-color: #000000;
}

#background-image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* logo */

#university-logo-div {
    position: fixed;
    text-align: center;
    top: 15%;
    left: 5%;
}

#faculty-logo-div {
    position: fixed;
    text-align: center;
    top: 15%;
    right: 5%;
}

#university-logo, #faculty-logo {
    height: 200px;
}

/* headings */

#heading-div {
    position: fixed;
    width: 100%;
    margin-top: 20%;
    text-align: center
}

#faculty-name {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 42px;
    text-transform: uppercase;
}

#topic {
    font-family: 'Alegreya Sans', sans-serif;
    color: #ffffff;
    font-size: 70px;
    text-transform: uppercase;
}

#batch {
    font-family: 'Alegreya Sans', sans-serif;
    color: #ffffff;
    font-size: 70px;
}


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    font-family: monospace;
    text-align: center;
}

#department_link {
    text-decoration: unset;
    color: #008080;
}